@import url('https://fonts.googleapis.com/css?family=Srisakdi');

/* padding */
.padding-150 {
padding-top: 150px;
padding-bottom: 100px;
}

.padding-150-bottom{
padding-bottom: 150px;
}
.padding-150-bottom-top{
padding-bottom: 150px;
padding-top: 150px;
}

.padding-50-bottom-top{
padding-bottom: 50px;
padding-top: 50px;
}

.padding-250 {
padding-top: 250px;
padding-bottom: 300px;
}
.padding-50 {
padding-top: 50px;
padding-bottom: 50px;
}

.padding-50-bottom{
padding-bottom: 50px;
}

.padding-20 {
padding-top: 20px;
padding-bottom: 20px;
}
.padding-20-bottom{
padding-bottom: 20px;
}
.padding-10-bottom{
padding-bottom: 10px;
}

.padding-150 {
    padding-top: 150px;
    padding-bottom: 100px;
}

.padding-250 {
    padding-top: 250px;
    padding-bottom: 300px;
}
.padding-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-10 {
    padding: 10px;
}

.paddingZero {
    padding: 0;
}
/* end padding */

/* text */
.text-center{
text-align: center;
}
.text-cloud {
    color: rgb(236, 240, 241) !important ;
}

.text-dark {
    color: #212529;
}

.h-100 {
    height: 100px;
}

.h-250 {
    height: 250px;
}
/* end text */

/* font */
.font-20 {
    font-size: 20px;
}
.font-30 {
    font-size: 25px;
}

.font-40 {
    font-size: 40px;
}
@media screen and (max-device-width:480px) {
    .font-40 {
        font-size:20px;
    }
}

.font-60 {
    font-size: 60px;
}
@media screen and (max-device-width:480px) {
    .font-60 {
        font-size:40px;
    }
}

.font-70 {
    font-size: 70px;
}
@media screen and (max-device-width:480px) {
    .font-70 {
        font-size:50px;
    }
}

.font-80 {
    font-size: 80px;
}
/* end font */
